---
import { CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const blogs = await getCollection("blog");

  const uniqueTags = [...new Set(blogs.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = blogs.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={post.slug}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
