---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "ホームページ";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <h2>私の素晴らしいブログのサブタイトル</h2>
  <p>これはトップページです</p>
</BaseLayout>
